asgiref @ file:///croot/asgiref_1724072470684/work
certifi @ file:///croot/certifi_1754570635119/work/certifi
Django @ file:///croot/django_1745263580040/work
django-cors-headers @ file:///home/conda/feedstock_root/build_artifacts/django-cors-headers_1738928153436/work
djangorestframework @ file:///home/conda/feedstock_root/build_artifacts/djangorestframework_1754514405054/work
jsonfield @ file:///home/conda/feedstock_root/build_artifacts/jsonfield_1751888072633/work
psycopg2 @ file:///croot/psycopg2_1744919787325/work
sqlparse @ file:///croot/sqlparse_1734704446487/work
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
